<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BootStrap Dev - Error</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <br/>
    <span class="badge badge-danger">Error Occured</span>
    <div class="justify-content-center table-responsive" style="width:80%">
        <table class="table table-sm table-secondary">
            <tbody>
            <tr>
                <td>timestamp</td>
                <td th:text="${error.timestamp}"></td>
            </tr>
            <tr>
                <td>message</td>
                <td th:text="${error.message}"></td>
            </tr>
            <tr>
                <td>details</td>
                <td th:text="${error.details}"></td>
            </tr>
            <tr>
                <td>error</td>
                <td th:text="${error.errorCode} + ' : ' + ${error.responePhrase}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>