<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BootStrap Dev</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="color:green;font-size:1.5em;">
            <th:block th:text="${appName}"/>
            {&nbsp;<img height="20" th:src="@{/img/bb.jpg}" width="23"/>
            <img height="25" th:src="@{/img/jira.png}" width="25"/>}
        </a>
        <span style="color:white;" th:inline="text">
            [[${user.displayName}]]
            <img class="img-thumbnail" style="height:35px;width:35px;" th:src="${user.links.avatar.href}"/>
        </span>
    </nav>
    <div class="overlay">
        <div id="loading-img"></div>
    </div>
    <div class="justify-content-center table-responsive">
        <!-- <img th:src="@{/img/bb.jpg}" style="height:35px;width:30px;" th:text="${appName}"/>
        <img src="https://bitbucket.org/account/deepakcha/avatar/" style="height:35px;width:35px;"
             th:text="' - ' + ${user.displayName} + ' / ' + ${user.accountId} + ' / ' + ${user.username}"/>-->
        <table class="table table-striped table-bordered table-sm" id="customerTable" style="margin-top:15px;">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Slug</th>
                <th>scm</th>
                <th>Repo Type</th>
                <th>Bitbucket Project</th>
                <th>Base of</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instance : ${repoArray}">
                <td><input th:name="appchkboxes" th:value="${instance.full_name}" type="checkbox"/></td>
                <td th:text="${instance.full_name}"></td>
                <td th:text="${instance.slug}"></td>
                <td th:text="${instance.scm}"></td>
                <td>Java</td>
                <td th:text="${instance.project.key}"></td>
                <td>develop</td>
            </tr>
            </tbody>
        </table>
        <label for="storyinfo">Enter story number / brief description.</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Feature-</span>
            </div>
            <input aria-describedby="basic-addon3" class="form-control" id="storyinfo" name="storyinfo"
                   placeholder="enter story number / desc"
                   type="text"/>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">JIRA#-</span>
            </div>
            <input aria-describedby="basic-addon4" class="form-control" id="storyinfojira" name="storyinfojira"
                   placeholder="enter jira issue number"
                   type="text"/>
        </div>
        <button class="btn btn-primary btn-sm" id="submit" type="button">Go Bootstrap</button>
        <button class="btn btn-primary btn-sm" id="clear" type="button">Clear Logs</button>
        <div class="consolelog" id="mySelector" style="margin-top:15px;">
            <i>operations log:</i>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div style="float:left;">
        <a href="/swagger-ui.html" target="_blank">
            <img class="img-thumbnail" style="height:31px;width:31px;" th:src="@{/img/swag.png}"/>
        </a>
        <a href="/h2-console" target="_blank">
            <img class="img-thumbnail" style="height:31px;width:45px;" th:src="@{/img/h2.png}"/>
        </a>
        </div>
    </nav>
</div>

<th:block layout:fragment="script">
    <script>
		/*<![CDATA[*/
		$('#clear').on('click', function(e){
		    $('#mySelector').empty();
		});
		$('#submit').on('click', function(e){
		    $("#submit").prop("disabled", true);
			e.preventDefault();
			console.log("go create");
			var $boxes = $('input[name=appchkboxes]:checked');
			$boxes.each(function(){
               console.log($(this).val());
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/bootstrap?storyid="+$("#storyinfo").val()+"&taskid="+$("#storyinfojira").val(),
                    data: JSON.stringify($(this).val()),
                    beforeSend: function(){
                    // Show image container
                        console.log("enabling loader");
                        $(".overlay").show();
                    },
                    complete:function(data){
                    // Hide image container
                        console.log("disabling loader");
                        $(".overlay").hide();
                    },
                    dataType: 'json',
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        console.log("SUCCESS : ", data);
                        jQuery('</br><div>' + JSON.stringify(data) + '</div>', {
                        }).appendTo('#mySelector');
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                        jQuery('</br><div style="color:red">' + e.responseText + '</div>', {
                        }).appendTo('#mySelector');
                    }
                });
            });
            $("#submit").prop("disabled", false);
		});
		/*]]>*/









    </script>
</th:block>
</body>
</html>